<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	   xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	

	<jaxrs:server id="vehicleservice" address="/rest/example">
		<jaxrs:serviceBeans>
			<ref bean="vehicleController" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<bean id="vehicleController" class="com.web.controller.impl.VehicleControllerImpl">
		<description>
			This Bean contains REST methods.
		</description>
	</bean>
		
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"> 
		<description>
			This Bean contains implementation to serilized json object.
		</description>	
	</bean>
	
	<bean id="cxfOutPutHandler" class="com.web.cxf.out.handler.CxfOutPutHandler">
		<description>
			This Bean implements Interceptor for all out going responses
		</description>
	</bean>
	
	<bean id="cxfInputHandler" class="com.web.cxf.in.handler.CxfInPutHandler" >
		<description>
			This Bean implements Interceptor for all in coming request
		</description>
	</bean>

	<cxf:bus>
		<cxf:outInterceptors>
			<ref bean="cxfOutPutHandler" />
		</cxf:outInterceptors>
		<cxf:inInterceptors>
			<ref bean="cxfInputHandler" />
		</cxf:inInterceptors>
	</cxf:bus>
	
</beans>
